/*
Theme Name: Hello2 Theme TJPI
Theme URI: https://github.com/jeffdacomputacao/hello-theme-tjpi
Author: Jefferson Gonçalves de Oliveira (jeff)
(Teste de atualização automática)
Author URI: https://github.com/
Description: Tema filho baseado no Hello Elementor para uso no TJ-PI.
Version: 1.1.1
Template: hello-elementor
GitHub Theme URI: https://github.com/jeffdacomputacao/hello-theme-tjpi
TEMA DE TESTE PARA DESENVOLVIMENTO
*/



@import url("../hello-elementor/style.css");
